<%- include('partials/header') %>
<section class="bg-accent py-4 shadow-sm">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators mb-5">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="pb-lg-5">
                    <div class="container py-sm-4 my-lg-4 px-4 pb-md-4">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-lg-5 col-md-6 order-md-2">

                                <img src="img/04.jpg" class="d-block w-100 mx-auto" alt="...">
                            </div>
                            <div
                                class="col-lg-5 col-md-6 offset-lg-1 order-md-1 pt-4 pb-md-4 text-center text-md-start">
                                <h2 class="fw-light pb-1 from-bottom">Take Closer Your Virtual World</h2>
                                <h1 class="display-4 from-bottom delay-1">Virtual Reality</h1>
                                <h5 class="fw-light pb-3 from-bottom delay-2">Choose between top brands</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="pb-lg-5">
                    <div class="container py-sm-4 my-lg-4 px-4 pb-md-4">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-lg-5 col-md-6 order-md-2">
                                <img src="img/05.jpg" class="d-block w-100 mx-auto" alt="...">
                            </div>
                            <div
                                class="col-lg-5 col-md-6 offset-lg-1 order-md-1 pt-4 pb-md-4 text-center text-md-start">
                                <h2 class="fw-light pb-1 from-bottom">World of music with</h2>
                                <h1 class="display-4 from-bottom delay-1">Headphones</h1>
                                <h5 class="fw-light pb-3 from-bottom delay-2">Choose between top brands</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="pb-lg-5">
                    <div class="container py-sm-4 my-lg-4 px-4 pb-md-4">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-lg-5 col-md-6 order-md-2">
                                <img src="img/06.jpg" class="d-block w-100 mx-auto" alt="...">
                            </div>
                            <div
                                class="col-lg-5 col-md-6 offset-lg-1 order-md-1 pt-4 pb-md-4 text-center text-md-start">
                                <h2 class="fw-light pb-1 from-bottom">Take Everything On your Hand</h2>
                                <h1 class="display-4 from-bottom delay-1">Iphone</h1>
                                <h5 class="fw-light pb-3 from-bottom delay-2">Choose between top brands</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</section>
<!-- section product -->
<section class="mx-5 pt-5">
    <div class="d-flex flex-wrap justify-content-between align-items-center pt-1 border-bottom pb-4 mb-4">
        <h2 class="h3 mb-0 pt-3 me-2 fw-bold">Trending products</h2>
        <div class="pt-3">
            <a class="btn btn-outline-secondary" href="shop-grid-ls.html">More products
                <i class="icofont-simple-right"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="row row-cols-1 row-cols-sm-2 g-4 mb-2">
            <% theData.forEach(data => { %>
            <div class="col-lg-3 col-md-4">
                <div class="card border-0 ">
                    <div class="img-warp d-flex justify-content-center">
                        <img src="<%= data.image %> " class="card-img-top img-thumbnail border-0" alt="...">
                    </div>
                    <figcaption>

                    </figcaption>
                    <div class="card-body">
                        <p class="card-text mb-0 text-muted fw-bold"><span><%= data.category %></span></p>
                        <h3 class="card-title text-truncate"><%= data.title %></h3>
                        <div class="d-flex justify-content-between">
                            <p class="card-text"><span class="fw-bold link-info">$<%= data.price %></span></p>
                            <div class="star-rating">
                                <% for(let i = 0; i < 5; i++) {%>
                                <i class="icofont-star link-warning"></i>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    </div>

</section>
<section class="container-fluid mt-4 mb-6 ">
    <div class="bg-faded-info rounded-3 py-4">
        <div class="row align-items-center">
            <div class="col-md-5">
                <div class="px-4 pe-sm-0 ps-sm-5"><span class="badge bg-danger">Limited Offer</span>
                    <h3 class="mt-4 mb-1 text-body fw-light">All new</h3>
                    <h2 class="mb-1">Last Gen iPad Pro</h2>
                    <p class="h5 text-body fw-light">at discounted price. Hurry up!</p>
                    <a class="btn btn-accent" href="#">View offers<i class="icofont-simple-right"></i></a>
                </div>
            </div>
            <div class="col-md-7"><img class="vertical-align-middle w-100 h-auto" src="img/offer.jpg"
                    alt="iPad Pro Offer"></div>
        </div>
    </div>
</section>
<section class="container-fluid justify-content-center mt-5 mb-5 mx-auto">
    <div class="container">
        <div class="row row-cols-3">
            <div class="col border py-4 justify-content-center">
                <img src="img/13.png" class="img-fluid" alt="">
            </div>
            <div class="col border py-4">
                <img src="img/15.png" class="img-fluid" alt="">
            </div>
            <div class="col border py-4">
                <img src="img/16.png" class="img-fluid" alt="">
            </div>
            <div class="col d-none d-lg-block border py-4">
                <img src="img/18.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
<section class="container-fluid m-auto pb-4 pb-md-5">
    <div class="row ">
        <!-- Bestsellers-->
        <div class="col-md-4 col-sm-6 mb-2">
            <div class="card border-0 shadow-sm">
                <h3 class="widget-title text-center">Bestsellers</h3>
                <% img.forEach(image => { %>

                <div class=" d-flex align-items-center pb-2 border-bottom"><a class="d-block flex-shrink-0"
                        href="shop-single-v2.html"><img src="img/suggest/<%= image %> " width="64" alt="Product"></a>
                    <div class="ps-2">
                        <h6 class="widget-product-title"><a href="shop-single-v2.html">Wireless Bluetooth Headphones</a>
                        </h6>
                        <div class="widget-product-meta"><span class="text-accent">$259.<small>00</small></span></div>
                    </div>
                </div>
                <% }) %> 
               
                <a class="btn btn-outline-primary fs-sm" href="shop-grid-ls.html">View more<i
                        class="icofont-simple-right"></i></a>
            </div>
        </div>
        <!-- New arrivals-->
        <div class="col-md-4 col-sm-6 mb-2 py-3">
            <div class="card border-0 shadow-sm">
                <h3 class="widget-title text-center">New arrivals</h3>
                <div class="d-flex align-items-center pb-2 border-bottom"><a class="d-block flex-shrink-0"
                        href="shop-single-v2.html"><img src="img/suggest/06.jpg" width="64" alt="Product"></a>
                    <div class="ps-2">
                        <h6 class="widget-product-title"><a href="shop-single-v2.html">Monoblock Desktop PC</a></h6>
                        <div class="widget-product-meta"><span class="text-accent">$1,949.<small>00</small></span></div>
                    </div>
                </div>
                <div class="d-flex align-items-center py-2 border-bottom"><a class="d-block flex-shrink-0"
                        href="shop-single-v2.html"><img src="img/suggest/07.jpg" width="64" alt="Product"></a>
                    <div class="ps-2">
                        <h6 class="widget-product-title"><a href="shop-single-v2.html">Laserjet Printer All-in-One</a>
                        </h6>
                        <div class="widget-product-meta"><span class="text-accent">$428.<small>60</small></span></div>
                    </div>
                </div>
                <div class="d-flex align-items-center py-2 border-bottom"><a class="d-block flex-shrink-0"
                        href="shop-single-v2.html"><img src="img/suggest/08.jpg" width="64" alt="Product"></a>
                    <div class="ps-2">
                        <h6 class="widget-product-title"><a href="shop-single-v2.html">Console Controller Charger</a>
                        </h6>
                        <div class="widget-product-meta"><span class="text-accent">$14.<small>97</small></span>
                            <del class="text-muted fs-xs">$16.<small>47</small></del>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center py-2"><a class="d-block flex-shrink-0"
                        href="shop-single-v2.html"><img src="img/suggest/62.jpg" width="65" alt="Product"></a>
                    <div class="ps-2">
                        <h6 class="widget-product-title"><a href="shop-single-v2.html">Smart Watch Series 5,
                                Aluminium</a>
                        </h6>
                        <div class="widget-product-meta"><span class="text-accent">$349.<small>99</small></span></div>
                    </div>
                </div>
                <a class="btn btn-outline-primary fs-sm" href="shop-grid-ls.html">View more<i
                        class="icofont-simple-right"></i></a>
            </div>
        </div>
        <!-- Top rated-->
        <div class="col-md-4 col-sm-6 mb-2 py-3">
            <div class="card border-0 shadow-sm">
                <h3 class="widget-title text-center">Top rated</h3>
                <div class="d-flex align-items-center pb-2 border-bottom"><a class="d-block flex-shrink-0"
                        href="shop-single-v2.html"><img src="img/suggest/10.jpg" width="64" alt="Product"></a>
                    <div class="ps-2">
                        <h6 class="widget-product-title"><a href="shop-single-v2.html">Android Smartphone S9</a></h6>
                        <div class="widget-product-meta"><span class="text-accent">$749.<small>99</small></span>
                            <del class="text-muted fs-xs">$859.<small>99</small></del>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center py-2 border-bottom"><a class="d-block flex-shrink-0"
                        href="shop-single-v2.html"><img src="img/suggest/11.jpg" width="64" alt="Product"></a>
                    <div class="ps-2">
                        <h6 class="widget-product-title"><a href="shop-single-v2.html">Wireless Bluetooth Headphones</a>
                        </h6>
                        <div class="widget-product-meta"><span class="text-accent">$428.<small>60</small></span></div>
                    </div>
                </div>
                <div class="d-flex align-items-center py-2 border-bottom"><a class="d-block flex-shrink-0"
                        href="shop-single-v2.html"><img src="img/suggest/12.jpg" width="64" alt="Product"></a>
                    <div class="ps-2">
                        <h6 class="widget-product-title"><a href="shop-single-v2.html">360 Degrees Camera</a></h6>
                        <div class="widget-product-meta"><span class="text-accent">$98.<small>75</small></span></div>
                    </div>
                </div>
                <div class="d-flex align-items-center py-2"><a class="d-block flex-shrink-0"
                        href="shop-single-v2.html"><img src="img/suggest/13.jpg" width="64" alt="Product"></a>
                    <div class="ps-2">
                        <h6 class="widget-product-title"><a href="shop-single-v2.html">Digital Camera 40MP</a></h6>
                        <div class="widget-product-meta"><span class="text-accent">$210.<small>00</small></span>
                            <del class="text-muted fs-xs">$249.<small>00</small></del>
                        </div>
                    </div>
                </div>
                <a class="btn btn-outline-primary fs-sm" href="shop-grid-ls.html">View more<i
                        class="icofont-simple-right"></i></a>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer') %>