<%- include('partials/header') %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-7 mt-1 bg-white shadow-sm p-4">
      <h1> Cartzilla Diskon Besar besaran</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas sunt distinctio sint ab ipsa cumque
        consequatur at cum voluptatibus ipsum dolores, itaque quasi cupiditate eum, voluptate a. Cum, soluta, minus
        voluptatem eaque ex nesciunt alias quibusdam recusandae beatae magnam ipsum fuga sit perferendis laudantium
        deleniti nam iusto ipsam nulla harum.</p>
    </div>
    <div class="col-lg-3 col-md-3 mt-1 ">
      <div class="row row-cols-auto">
        <div class="col bg-white shadow-sm p-2">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ducimus quasi aspernatur facere modi a
            odit! Eligendi, placeat iure, saepe ad totam velit praesentium architecto vel molestias dolore porro
            expedita.</p>
        </div>
        <div class="col bg-light text-dark shadow-sm p-2 mt-2">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias ducimus veniam, quo amet commodi
            exercitationem vitae necessitatibus repudiandae ratione, facere dolores eum assumenda debitis nisi possimus
            corporis laudantium, dolore repellat.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container pb-5 mb-2 mt-5 mb-md-4">

  <!-- FIRST CONTENT -->
  <div class="row row-cols-1 row-cols-sm-2 g-4 mb-2">
    <% theData.forEach(data => { %>
    <div class="col-lg-3 col-md-4">
      <div class="card border-0">
        <div class="img-warp d-flex justify-content-center border-0">
          <img src="<%= data.image %> " class="card-img-top img-thumbnail border-0" >
        </div>
        <div class="card-body">
          <p class="card-text text-muted mb-0 fw-bold"><span><%= data.category %></span></p>
          <h3 class="card-title mt-0 text-truncate"><%= data.title %></h3>
          <div class="d-flex justify-content-between">
            <p class="card-text"><span class="fw-bold link-info">$<%= data.price %></span></p>
            <div class="star-rating">
              <% for(let i = 0; i < 5; i++) {%>
              <i class="icofont-star link-warning"></i>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
  <!-- BANNER -->
  <div class="row py-sm-2">
    <div class="col-lg-8  mb-4">
      <div class="d-sm-flex justify-content-between align-items-center bg-light overflow-hidden rounded-3">
        <div class="py-4 my-2 my-md-0 py-md-5 px-4 ms-md-3 text-center text-sm-start">
          <h4 class="fs-lg fw-light mb-2">Segera pesan barang terbatas</h4>
          <h3 class="mb-3">Buat Nyaman Hari-harimu</h3>
          <a href="" class="btn btn-primary btn-shadow btn-sm">Pesan Sekarang</a>
        </div>
        <img class="d-block ms-auto ml-auto" src="img/banner.jpg">
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="d-flex flex-column h-100 bg-size-cover bg-position-center rounded-3 py-4"
        style="background-color: #e4fbff;">
        <div class="py-4 my-2 px-4 text-center">
          <h5 class="mb-3">Your Banner Here</h5>
          <p class="fs-sm text-muted">hurry Up you reserve more</p>

        </div>
      </div>
    </div>
  </div>
  <!-- END BANNER -->
  <div class="row  g-4 mb-2">
    <% theData.forEach(data => { %>
    <div class="col-lg-3 col-md-4 col-sm-4">
      <div class="card ">
        <div class="img-warp d-flex justify-content-center">
          <img src="<%= data.image %> " class="card-img-top img-thumbnail border-0" alt="...">
        </div>
        <figcaption>

        </figcaption>
        <div class="card-body">
          <p class="card-text mb-0 text-muted fw-bold"><span><%= data.category %></span></p>
          <h3 class="card-title text-truncate"><%= data.title %></h3>
          <div class="d-flex justify-content-between">
            <p class="card-text"><span class="fw-bold link-info">$<%= data.price %></span></p>
            <div class="star-rating">
              <% for(let i = 0; i < 5; i++) {%>
              <i class="icofont-star link-warning"></i>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
  <hr class="my-3">
</div>

<%- include('partials/footer') %>