<%- include('partials/header')  %>


<div class="mx-5 mt-2">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner text-center ">
            <div class="carousel-item active " style="background-color: #4C52C0;">
                <h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita quas assumenda laborum. Rem,
                    numquam aliquid culpa harum asperiores cupiditate illum qui est unde? Quis nostrum consequuntur
                    officia iusto ipsam optio?</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum sit accusamus veritatis esse
                    laudantium porro incidunt iure iste assumenda ratione molestias ducimus unde quis, qui facilis
                    consequuntur voluptate dolores, doloribus, saepe asperiores sed tempora earum vitae. Deserunt
                    unde dolores sapiente molestiae repellat quo. Quod veritatis distinctio cum, laudantium et
                    doloribus?</p>
            </div>
            <div class="carousel-item" style="background-color: #F5B1B0;">
                <h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita quas assumenda laborum. Rem,
                    numquam aliquid culpa harum asperiores cupiditate illum qui est unde? Quis nostrum consequuntur
                    officia iusto ipsam optio?</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum sit accusamus veritatis esse
                    laudantium porro incidunt iure iste assumenda ratione molestias ducimus unde quis, qui facilis
                    consequuntur voluptate dolores, doloribus, saepe asperiores sed tempora earum vitae. Deserunt
                    unde dolores sapiente molestiae repellat quo. Quod veritatis distinctio cum, laudantium et
                    doloribus?</p>
            </div>
            <div class="carousel-item" style="background-color: #3AAFD2;">
                <h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita quas assumenda laborum. Rem,
                    numquam aliquid culpa harum asperiores cupiditate illum qui est unde? Quis nostrum consequuntur
                    officia iusto ipsam optio?</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum sit accusamus veritatis esse
                    laudantium porro incidunt iure iste assumenda ratione molestias ducimus unde quis, qui facilis
                    consequuntur voluptate dolores, doloribus, saepe asperiores sed tempora earum vitae. Deserunt
                    unde dolores sapiente molestiae repellat quo. Quod veritatis distinctio cum, laudantium et
                    doloribus?</p>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>


<div class="container mt-5">

    <section class="product-sections">
        <div class="row row-cols-1 row-cols-sm-2 g-4 mb-2">
            <% theData.forEach(data => { %>
            <div class="col-md-3 col-sm-6">
                <div class="card">
                    <div class="img-warp d-flex justify-content-center">
                        <img src="<%= data.image %> " class="card-img-top img-thumbnail" alt="...">
                    </div>
                    <div class="card-body">
                        <p class="card-text text-muted mb-0 fw-bold"><span><%= data.category %></span></p>
                        <h3 class="card-title mt-0 text-truncate"><%= data.title %></h3>
                        <div class="d-flex justify-content-between">
                            <p class="card-text"><span class="fw-bold link-info">$<%= data.price %></span></p>
                            <div class="star-rating">
                                <% for(let i = 0; i < 5; i++) {%>
                                <i class="icofont-star link-warning"></i>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    </section>
</div>
<%- include('partials/footer')  %>